@page "/onionfruit"
@using DragonFruit.Sakura.OnionFruit.Components
@using DragonFruit.Sakura.Utils

<PageTitle>OnionFruit&trade; Connect &middot; DragonFruit Network</PageTitle>
<HeadContent>
    <meta property="og:title" content="OnionFruit™ Connect by DragonFruit Network"/>
    <meta property="og:description" content="OnionFruit™ Connect: A free Tor access gateway"/>
    <meta name="keywords" content="Tor, Onion, Onionfruit, onion fruit, onionfruit connect, onion buddy, dragonfruit onionfruit"/>

    <style>
        .sakura-hero {
            background: linear-gradient(to bottom, #c33764, #1d2671);
        }
    </style>
</HeadContent>

<SakuraHero>
    <MudSpacer/>

    <MudImage Fluid="true" Style="max-width: 95vw" Src="/assets/onionfruit-ui.png" Alt="OnionFruit&trade; Connect - UI"/>

    @* title *@
    <MudStack Spacing="1" Class="pt-5" Justify="Justify.Center" AlignItems="AlignItems.Center">
        <SakuraSubheading Text="OnionFruit&trade; Connect" Colour="#9940ec">
            <IconHtml>
                <MudIcon Icon="@Icons.Rounded.WifiLock"/>
            </IconHtml>
        </SakuraSubheading>
        <MudText Align="Align.Center" Typo="Typo.h4">Connect to Tor in seconds</MudText>
        <MudText Align="Align.Center">Free and no-fuss Tor&reg; access client</MudText>
    </MudStack>

    @* download and guides *@
    <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center" Class="flex-wrap pt-3">
        <MudButton Color="Color.Success"
                   Variant="Variant.Text"
                   Class="flex-shrink-0"
                   StartIcon="fa-solid fa-file-arrow-down"
                   Href="https://github.com/dragonfruitnetwork/onionfruit/releases/latest/download/install.exe">
            Download Latest Version
        </MudButton>
        <MudButton Color="Color.Info"
                   Variant="Variant.Text"
                   Class="flex-shrink-0"
                   StartIcon="fa-solid fa-leaf"
                   Href="/wiki/onionfruit/getting-started">
            View Getting Started Guide
        </MudButton>
    </MudStack>

    <MudSpacer/>
    <OnionFruitHeader/>
</SakuraHero>

<div class="sakura-full-height-section pt-5">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudStack>
            <OnionFruitTestimony/>

            <MudGrid Justify="Justify.FlexStart" Class="my-4">
                <OnionFruitFeature MaxColumnWidth="6" Title="Countries" Content="Choose from a large range of countries to pass data in or out of, or let the app pick the best ones for you">
                    <Visuals>
                        <MudAvatarGroup Spacing="4" Max="int.MaxValue">
                            <MudAvatar Image="@FlagUtils.GetFlagUrl("DE")"/>
                            <MudAvatar Image="@FlagUtils.GetFlagUrl("GB")"/>
                            <MudAvatar Image="@FlagUtils.GetFlagUrl("US")"/>
                            <MudAvatar Image="@FlagUtils.GetFlagUrl("NL")"/>
                        </MudAvatarGroup>
                    </Visuals>
                    <Actions>
                        <MudButton Color="Color.Primary"
                                   Href="/onionfruit/countries"
                                   EndIcon="@Icons.Rounded.KeyboardArrowRight">
                            View Countries
                        </MudButton>
                    </Actions>
                </OnionFruitFeature>

                <OnionFruitFeature MaxColumnWidth="6"
                                   Title="Bridges"
                                   IconColour="#ff8f00"
                                   Icon="fa-solid fa-location-arrow"
                                   Content="OnionFruit&trade; provides built-in support for various bridges, with some requiring no additional configuration">
                    <Actions>
                        <MudButton Color="Color.Secondary"
                                   Href="/wiki/onionfruit/bridges"
                                   EndIcon="@Icons.Rounded.KeyboardArrowRight">
                            Learn More
                        </MudButton>
                    </Actions>
                </OnionFruitFeature>

                <OnionFruitFeature Title="SecurDNS"
                                   IconColour="#1de9b6"
                                   Icon="fa-solid fa-book-atlas"
                                   Content="Prevent DNS requests being sent to your ISP by automatically rerouting requests through Tor"/>

                <OnionFruitFeature Title="Tor Control"
                                   IconColour="#651fff"
                                   Icon="fa-solid fa-satellite-dish"
                                   Content="Execute direct commands on the Tor&reg; client while connected"/>

                <OnionFruitFeature Title="Open Source"
                                   IconColour="#56ab2f"
                                   Icon="fa-brands fa-github"
                                   Content="Our databases and APIs are publicly on GitHub for anybody to use in their own applications."/>

            </MudGrid>

            <MudStack Row="true" Spacing="4" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="flex-wrap-reverse">
                <MudText Typo="Typo.h5">OnionFruit&trade; supports all major browsers out-the-box</MudText>
                <MudStack Class="flex-shrink-0" Row="true" AlignItems="AlignItems.Center" Spacing="4">
                    <MudIcon Icon="fa-brands fa-chrome"/>
                    <MudIcon Icon="fa-brands fa-edge"/>
                    <MudIcon Icon="fa-brands fa-firefox-browser"/>
                    <MudIcon Icon="fa-brands fa-opera"/>
                </MudStack>
            </MudStack>
            <hr class="sakura-section-hr mb-2"/>

            @* FAQ section *@
            <MudExpansionPanels MultiExpansion="true" Class="mb-3">
                <MudExpansionPanel Text="Can you connect any app through Tor?">
                    Yes, providing the app is capable of using SOCKS5 and is set to use the system proxy.
                </MudExpansionPanel>
                <MudExpansionPanel Text="Are .onion sites supported?">
                    Newer versions of OnionFruit&trade; support SecurDNS, which is an optional addon that allows browsers to connect to `.onion` sites.
                    Note some restrictions may stop this from working, for example the version of Windows or the site itself.
                </MudExpansionPanel>
                <MudExpansionPanel Text="Is there a portable version available?">
                    No, because the installer uses Squirrel you don't need admin rights to install/use it.
                    If you still need a portable copy then it's highly likely the target machine won't allow the program to change the appropriate settings.
                </MudExpansionPanel>
                <MudExpansionPanel Text="What data is collected?">
                    The only data we collect are crash reports, compromised of the .NET Framework Version, Windows Version and the last 25/50 lines of the log before the error occurred.
                </MudExpansionPanel>
                <MudExpansionPanel Text="Is the app actively updated?">
                    DragonFruit is comitted to maintaining OnionFruit™ and its related projects including delivering updates to APIs, databases and client updates.
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudStack>

        <MudGrid Spacing="5" Class="mb-3">
            <MudItem xs="12" lg="6">
                <MudStack Spacing="1" Class="mt-3">
                    <SakuraSubheading Text="Updates" Colour="#00B0FF" Icon="fa-solid fa-wrench"/>
                    <MudText>DragonFruit is comitted to maintaining OnionFruit&trade; and its related projects including APIs, databases and client updates</MudText>
                </MudStack>
            </MudItem>
            <MudItem xs="12" lg="6">
                <MudStack Spacing="1" Class="mt-3">
                    <SakuraSubheading Text="Support" Colour="#00E676" Icon="fa-solid fa-life-ring"/>
                    <MudText>Support is available at any time through GitHub, Discord or Email (links at the top of the page)</MudText>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudContainer>

    <MudSpacer/>
    <SakuraFooter/>
</div>