@using DragonFruit.Sakura.Network

<MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="1">
    <MudImage Src="@FlagUrl" Height="40" Elevation="0" Class="mb-2 rounded"/>
    <MudText Typo="Typo.h6">@CountryInfo.CountryName</MudText>
    <MudText>
        <strong>@CountryInfo.TotalNodeCount.ToString("N0")</strong> nodes &middot; <strong>@((CountryInfo.GlobalShare * 100).ToString("F2"))%</strong> global share
    </MudText>
    <MudText>
        <span class="mud-info-text">@CountryInfo.EntryNodeCount.ToString("N0")</span> Entry / <span class="mud-warning-text">@CountryInfo.ExitNodeCount.ToString("N0")</span> Exit Nodes
    </MudText>
</MudStack>

@code {

    [Parameter]
    public OnionCountryInfo CountryInfo { get; set; }

    private string FlagUrl => $"https://raw.githubusercontent.com/ppy/osu-resources/master/osu.Game.Resources/Textures/Flags/{CountryInfo.CountryCode}.png";

}