<MudItem xs="12" md="@MaxColumnWidth.GetValueOrDefault(4)">
    <MudPaper Elevation="0" Class="p-4 h-100">
        <MudStack Spacing="2">
            <div class="d-flex align-content-center justify-content-center mb-3">
                @if (string.IsNullOrEmpty(Icon))
                {
                    @Visuals
                }
                else
                {
                    <i class="@Icon fa-3x" style="color: @IconColour"></i>
                }
            </div>
            <MudSpacer/>
            <MudText Typo="Typo.h6">@Title</MudText>
            <MudText Class="text-muted">@Content</MudText>
            <MudStack Row="true" Class="mt-3">@Actions</MudStack>
        </MudStack>
    </MudPaper>
</MudItem>

@code {

    [Parameter]
    public int? MaxColumnWidth { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string IconColour { get; set; }

    [Parameter]
    public RenderFragment Visuals { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }

}