@page "/dragon6"
@using DragonFruit.Sakura.Dragon6.Components

<PageTitle>Dragon6 &middot; DragonFruit Network</PageTitle>
<HeadContent>
    <meta property="og:title" content="Dragon6 by DragonFruit Network"/>
    <meta property="og:description" content="Dragon6: Rainbow Six Stats. Simplified"/>

    <meta name="description" content="Dragon6: Rainbow Six Stats. Simplified"/>
    <meta name="keywords" content="R6DB, Dragon6, Rainbow Six, R6, R6 Stats, Rainbow Six Stats, R6Stats, RainbowSix, Ubisoft, rainbow six stats, rainbow stats"/>

    <link rel="canonical" href="https://dragonfruit.network/dragon6"/>
    <link rel="stylesheet" href="/styles/discord-css.css"/>

    <style>
        .sakura-hero {
            justify-content: space-between;
            background: url(https://d6static.dragonfruit.network/backgrounds/0.jpg);
        }
        
        .dragon6-icon {
            margin: auto 0;
            filter: invert(75%);
            height: max(250px, 35vh);
        }
    </style>
</HeadContent>

<SakuraHero>
    
    <MudStack Row="false" Justify="Justify.Center" Spacing="5">
        <img src="/assets/appicons/dragon6.svg" alt="Dragon6 logo" class="dragon6-icon user-select-none"/>
        <MudAlert Class="w-100" Icon="@Icons.Material.Outlined.Info" Severity="Severity.Warning">Dragon6 will shut down on the 3rd April 2023. Check the <a href="/wiki/dragon6/legal/service-termination">wiki</a> for more details.</MudAlert>
    </MudStack>
    
    <PageHeader Title="Dragon6" Fixed="false">
        <MudButton Variant="Variant.Text" Href="https://dragon6.dragonfruit.network" Target="_blank">Web</MudButton>
        <MudButton Variant="Variant.Text" Href="https://play.google.com/store/apps/details?id=com.dragon.six" Target="_blank">Mobile</MudButton>
        <MudButton Variant="Variant.Text" Href="https://apps.microsoft.com/store/detail/dragon6/9N88CQPKGS15" Target="_blank">Desktop</MudButton>
        <MudButton Variant="Variant.Text" Href="https://github.com/dragonfruitnetwork/dragon6-api" Target="_blank">Developers</MudButton>
    </PageHeader>
</SakuraHero>

<MudContainer MaxWidth="MaxWidth.Large" Class="pt-5">
    <MudStack Spacing="1" AlignItems="AlignItems.Center" Justify="Justify.Center">
        <MudText Align="Align.Center" Typo="Typo.h4">Rainbow Six Stats. Redefined.</MudText>
        <MudText Align="Align.Center">A thoughtful, clean experience for viewing Rainbow Six | Siege stats</MudText>
    </MudStack>

    <MudGrid Justify="Justify.FlexStart" Class="my-4">
        @* dragon6 client *@
        <Dragon6GridProduct FullWidth="true">
            <MudStack Spacing="1" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <SakuraSubheading Colour="#fff" Text="Dragon6 Client" Icon="fa-brands fa-windows"/>
                <MudText Align="Align.Center" Typo="Typo.h5">The ultimate Dragon6 experience</MudText>
                <MudText Align="Align.Center">The mobile and desktop app takes the power of the site one step further by bringing in faster load times, more stats, news and saved/recent account lists</MudText>
            </MudStack>
            <MudStack Justify="Justify.Center" Row="true" Spacing="4">
                <MudButton Target="_blank"
                           Color="Color.Primary"
                           StartIcon="@Icons.Custom.Brands.Microsoft"
                           Href="https://www.microsoft.com/en-us/p/dragon6/9n88cqpkgs15">
                    View on Microsoft Store
                </MudButton>
                <MudButton Target="_blank"
                           Color="Color.Success"
                           StartIcon="@Icons.Custom.Brands.Google"
                           Href="https://play.google.com/store/apps/details?id=com.dragon.six">
                    View on Google Play
                </MudButton>
                <MudButton Target="_blank"
                           Color="Color.Error"
                           StartIcon="@Icons.Custom.Brands.GitHub"
                           Href="https://github.com/dragonfruitnetwork/dragon6">
                    View on GitHub
                </MudButton>
            </MudStack>
            <MudImage Fluid="true" Src="/assets/d6-client.png" Alt="Dragon6 client stats page"/>
        </Dragon6GridProduct>

        @* dragon6 web *@
        <Dragon6GridProduct Centered="false">
            <MudStack Spacing="1">
                <SakuraSubheading Colour="#bd1818" Text="Dragon6 Web" Icon="fa-brands fa-chrome"/>
                <MudText Typo="Typo.h5">Stats on any device</MudText>
                <MudText>Look up an account or customise your own using the website on any device, complete with recent and all-time stats, previous ranks and newly added Deatchmatch stats</MudText>
            </MudStack>
            <MudButton Target="_blank"
                       Color="Color.Info"
                       Href="https://dragon6.dragonfruit.network/"
                       EndIcon="@Icons.Rounded.KeyboardArrowRight">
                Visit Website
            </MudButton>
        </Dragon6GridProduct>

        <Dragon6GridProduct Centered="false">
            <MudStack Spacing="1">
                <SakuraSubheading Colour="#f44336" Text="Dragon6 Developers" Icon="fa-brands fa-github"/>
                <MudText Typo="Typo.h5">Add stats to your own program</MudText>
                <MudText>The Dragon6 API is publicly available, under an OSI-approved license complete with documentation and actively maintained.</MudText>
            </MudStack>
            <MudStack Row="true">
                <MudButton Color="Color.Info"
                           EndIcon="@Icons.Rounded.KeyboardArrowRight"
                           Href="/wiki/dragon6/developers">
                    View Wiki
                </MudButton>
                <MudButton Target="_blank"
                           Color="Color.Error"
                           EndIcon="@Icons.Rounded.KeyboardArrowRight"
                           Href="https://github.com/dragonfruitnetwork/dragon6-api">
                    View on GitHub
                </MudButton>
            </MudStack>
        </Dragon6GridProduct>
    </MudGrid>
</MudContainer>

<SakuraFooter/>